{% extends "../../layouts/app.html" %}

{% block header %}
<link rel="stylesheet" href="{{ static_url('css/picker.css') }}">
<link rel="stylesheet" href="{{ static_url('css/picker.date.css') }}">
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?region=US&key=AIzaSyBNXhq3jQYAMnlmd6qLFhLNpi68Buiiu-w"></script>
{% end%}

{% block title %}
<i class="building icon"></i> Properties
{% end %}

{% block page %}
<section id="properties">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui grid">
                    <div class="ten wide column">
                        <form>
                            <div class="ui fluid form">
                                <div class="ui top attached green segment">
                                    <i class="circular inverted green marker icon"></i> Details
                                </div>
                                <div class="ui attached segment">
                                    <div class="fields">
                                        <div class="eleven wide field">
                                            <div class="ui left icon input">
                                                <i class="marker icon"></i>
                                                <input type="text" placeholder="Street address"
                                                       id="rawAddress"
                                                       data-content="Enter the street address"/>
                                            </div>
                                        </div>
                                        <div class="five wide field">
                                            <select class="ui fluid dropdown" id="rawBorough"
                                                    data-content="Pick a borough">
                                                <option value="">Borough</option>
                                                <option value="Manhattan">Manhattan</option>
                                                <option value="Brooklyn">Brooklyn</option>
                                                <option value="Queens">Queens</option>
                                                <option value="Bronx">Bronx</option>
                                                <option value="Staten Island">Staten Island</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="mapCanvas" class="ui segment"></div>
                                    <div class="field">
                                        <div class="two fluid ui large buttons">
                                            <div class="ui toggle active button"><i class="trello icon"></i> Apartment
                                            </div>
                                            <div class="ui toggle button"><i class="building icon"></i> Building</div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label for="property.details.bedrooms">Bedrooms</label>
                                                <select class="ui dropdown" id="property.details.bedrooms">
                                                    <option value="">Bedrooms</option>
                                                    <option value="0">Studio</option>
                                                    <option value="1">1 Bed</option>
                                                    S
                                                    <option value="2">2 Beds</option>
                                                    <option value="3">3 Beds</option>
                                                    <option value="4">4 Beds</option>
                                                    <option value="5">5 Beds</option>
                                                    <option value="6">6 Beds</option>
                                                    <option value="7">7 Beds</option>
                                                    <option value="8">8 Beds</option>
                                                    <option value="9">9 Beds</option>
                                                    <option value="10">10 Beds</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <label for="property.details.bathrooms">Bathrooms</label>
                                                <select class="ui dropdown" id="property.details.bathrooms">
                                                    <option value="">Bathrooms</option>
                                                    <option value="1">1 Bath</option>
                                                    <option value="2">2 Baths</option>
                                                    <option value="3">3 Baths</option>
                                                    <option value="4">4 Baths</option>
                                                    <option value="5">5 Baths</option>
                                                    <option value="6">6 Baths</option>
                                                    <option value="7">7 Baths</option>
                                                    <option value="8">8 Baths</option>
                                                    <option value="9">9 Baths</option>
                                                    <option value="10">10 Baths</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label for="property.details.rent">Rent</label>

                                                <div class="ui left icon input">
                                                    <i class="usd icon"></i>
                                                    <input type="number" min="0" id="property.details.rent"
                                                           placeholder="Monthly rent"
                                                           data-content="How much is the rent per month?">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label for="property.details.depsoit">Deposit</label>

                                                <div class="ui left icon input">
                                                    <i class="usd icon"></i>
                                                    <input type="number" min="0" id="property.details.depsoit"
                                                           placeholder="Deposit">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label for="property.details.availability">Availability</label>

                                                <div class="ui left icon input">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" id="property.details.availability"
                                                           placeholder="Availability" class="datepicker">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label for="property.details.unit">Unit #</label>

                                                <div class="ui left icon input">
                                                    <i class="font icon"></i>
                                                    <input type="text" maxlength="6" id="property.details.unit"
                                                           placeholder="Unit #">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label for="property.details.size">Size</label>

                                                <div class="ui right labeled input">
                                                    <input type="number" id="property.details.size" min="0"
                                                           placeholder="Size">

                                                    <div class="ui label">sq<sup>2</sup></div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>No fee?</label>

                                                <div class="ui fluid toggle labeled icon button">
                                                    <i class="check circle outline icon"></i> Yes
                                                </div>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Dogs allowed?</label>

                                                <div class="ui toggle labeled icon fluid button">
                                                    <i class="paw icon"></i> Yes
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Cats allowed?</label>

                                                <div class="ui toggle labeled icon fluid button">
                                                    <i class="paw icon"></i> Yes
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui top attached yellow segment">
                                    <i class="circular inverted yellow retro camera icon"></i> Photos
                                </div>
                                <div class="ui attached segment">
                                    <div class="ui yellow icon message">
                                        <i class="plus icon"></i>

                                        <div class="content">
                                            <div class="header">
                                                Click here or drop your photos to upload
                                            </div>
                                            <p>Please only upload high resolution photos in JPEG and PNG formats</p>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>
                                    <div class="field">
                                        <label for="property.details.video">Video tour</label>

                                        <div class="ui left icon input">
                                            <i class="video camera icon"></i>
                                            <input type="url" id="property.details.video"
                                                   placeholder="Enter a YouTube or other video link"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui top attached blue segment">
                                    <i class="circular inverted blue write icon"></i> Description
                                </div>
                                <div class="ui attached segment">
                                    <div class="field">
                                        <input type="text" placeholder="Enter property name"/>
                                    </div>
                                    <div class="field">
                                        <div class="ui action input">
                                            <input type="text" placeholder="Enter a headline"/>

                                            <div class="ui blue compact icon button"><i class="refresh icon"></i></div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <textarea placeholder="Enter property description"></textarea>
                                    </div>
                                </div>

                                <div class="ui top attached pink segment">
                                    <i class="circular inverted pink trello icon"></i> Units
                                </div>
                                <div class="ui attached segment">
                                    Add units
                                </div>

                                <div class="ui top attached teal segment">
                                    <i class="circular inverted teal call icon"></i> Contact information
                                </div>
                                <div class="ui attached segment">
                                    <div>
                                        <div class="ui fluid labeled icon teal toggle button">
                                            <i class="call icon"></i> Use my contact information
                                        </div>
                                        <div class="ui divider"></div>
                                        <div class="field">
                                            <label for="property.contact.person">Contact person</label>

                                            <div class="ui left icon input">
                                                <i class="user icon"></i>
                                                <input type="text" id="property.contact.person"
                                                       placeholder="Contact person"/>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label for="property.contact.phone">Phone number</label>

                                            <div class="ui left icon input">
                                                <i class="call icon"></i>
                                                <input type="text" id="property.contact.phone"
                                                       placeholder="Phone number"/>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label for="property.contact.email">Email address</label>

                                            <div class="ui left icon input">
                                                <i class="mail icon"></i>
                                                <input type="email" id="property.contact.email"
                                                       placeholder="Email address"/>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label for="property.contact.website">Website</label>

                                            <div class="ui left icon input">
                                                <i class="linkify icon"></i>
                                                <input type="url" id="property.contact.website" placeholder="Website"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="ui teal icon message">
                                            <i class="checkmark icon"></i>

                                            <div class="content">
                                                <div class="header">You're all set here</div>
                                                <p>Pad Flyer will use your contact information on listings. If you would
                                                    like to
                                                    enter different contact information, click on the botton below</p>
                                            </div>
                                        </div>
                                        <div class="ui fluid teal labeled icon toggle button">
                                            <i class="write icon"></i> Enter different contact information
                                        </div>
                                    </div>
                                </div>
                                <div class="ui hidden divider"></div>
                                <button type="submit" class="ui fluid labeled icon big positive button">
                                    <i class="checkmark icon"></i>
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="six wide column">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}

{% block footer %}
<script src="{{ static_url('js/picker.js') }}"></script>
<script src="{{ static_url('js/picker.date.js') }}"></script>
<script type="text/javascript">
    styles = [{
        "featureType": "water",
        "stylers": [{"saturation": 43}, {"lightness": -11}, {"hue": "#0088ff"}]
    }, {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [{"hue": "#ff0000"}, {"saturation": -100}, {"lightness": 99}]
    }, {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [{"color": "#808080"}, {"lightness": 54}]
    }, {
        "featureType": "landscape.man_made",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#ece2d9"}]
    }, {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [{"color": "#ccdca1"}]
    }, {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [{"color": "#767676"}]
    }, {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [{"color": "#ffffff"}]
    }, {"featureType": "poi", "stylers": [{"visibility": "off"}]}, {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [{"visibility": "on"}, {"color": "#b8cb93"}]
    }, {"featureType": "poi.park", "stylers": [{"visibility": "on"}]}, {
        "featureType": "poi.sports_complex",
        "stylers": [{"visibility": "on"}]
    }, {"featureType": "poi.medical", "stylers": [{"visibility": "on"}]}, {
        "featureType": "poi.business",
        "stylers": [{"visibility": "simplified"}]
    }];
    var mapOptions = {
        center: {lat: 40.7127, lng: -74.0059},
        zoom: 12,
        styles: styles,
        disableDefaultUI: true
    };
    var map = new google.maps.Map(document.getElementById('mapCanvas'), mapOptions);
</script>
{% end %}