{% if handler.get_cookie("flash_success") %}
<div class="ui positive icon message">
    <i class="checkmark icon"></i> {{ handler.get_flash("flash_success") }}
</div>
{% end %}
{% if handler.get_cookie("flash_info") %}
<div class="ui info message">
    <i class="info icon"></i> {{ handler.get_flash("flash_info") }}
</div>
{% end %}
{% if handler.get_cookie("flash_warning") %}
<div class="ui warning message">
    <i class="warning sign icon"></i> {{ handler.get_flash("flash_warning") }}
</div>
{% end %}
{% if handler.get_cookie("flash_error") %}
<div class="ui negative message">
    <i class="minus circle icon"></i> {{ handler.get_flash("flash_error") }}
</div>
{% end %}