.picker__box {
    padding: 0 1em
}

.picker__header {
    text-align: center;
    position: relative;
    margin-top: .75em
}

.picker__month, .picker__year {
    font-weight: 500;
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em
}

.picker__year {
    color: #999;
    font-size: .8em;
    font-style: italic
}

.picker__select--month, .picker__select--year {
    border: 1px solid #b7b7b7;
    height: 2em;
    padding: .5em;
    margin-left: .25em;
    margin-right: .25em
}

@media (min-width: 24.5em) {
    .picker__select--month, .picker__select--year {
        margin-top: -.5em
    }
}

.picker__select--month {
    width: 35%
}

.picker__select--year {
    width: 22.5%
}

.picker__select--month:focus, .picker__select--year:focus {
    border-color: #3b83c0;
}

.picker__nav--next, .picker__nav--prev {
    position: absolute;
    padding: .5em 1.25em;
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    top: -.25em
}

@media (min-width: 24.5em) {
    .picker__nav--next, .picker__nav--prev {
        top: -.33em
    }
}

.picker__nav--prev {
    left: -1em;
    padding-right: 1.25em
}

@media (min-width: 24.5em) {
    .picker__nav--prev {
        padding-right: 1.5em
    }
}

.picker__nav--next {
    right: -1em;
    padding-left: 1.25em
}

@media (min-width: 24.5em) {
    .picker__nav--next {
        padding-left: 1.5em
    }
}

.picker__nav--next:before, .picker__nav--prev:before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: .75em solid #000;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto
}

.picker__nav--next:before {
    border-right: 0;
    border-left: .75em solid #000
}

.picker__nav--next:hover, .picker__nav--prev:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb
}

.picker__nav--disabled, .picker__nav--disabled:before, .picker__nav--disabled:before:hover, .picker__nav--disabled:hover {
    cursor: default;
    background: 0 0;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5
}

.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em
}

@media (min-height: 33.875em) {
    .picker__table {
        margin-bottom: .75em
    }
}

.picker__table td {
    margin: 0;
    padding: 0
}

.picker__weekday {
    width: 14.285714286%;
    font-size: .75em;
    padding-bottom: .25em;
    color: #999;
    font-weight: 500
}

@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom: .5em
    }
}

.picker__day {
    padding: .3125em 0;
    font-weight: 200;
    border: 1px solid transparent
}

.picker__day--today {
    position: relative
}

.picker__day--today:before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: .5em solid #0059bc;
    border-left: .5em solid transparent
}

.picker__day--disabled:before {
    border-top-color: #aaa
}

.picker__day--outfocus {
    color: #ddd
}

.picker__day--infocus:hover, .picker__day--outfocus:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb
}

.picker__day--highlighted {
    border-color: #3b83c0
}

.picker--focused .picker__day--highlighted, .picker__day--highlighted:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb
}

.picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover {
    background: #0089ec;
    color: #fff
}

.picker__day--disabled, .picker__day--disabled:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default
}

.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover {
    background: #bbb
}

.picker__footer {
    text-align: center
}

.picker__button--clear, .picker__button--today {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: .66em 0;
    font-weight: 700;
    width: 50%;
    display: inline-block;
    vertical-align: bottom
}

.picker__button--clear:hover, .picker__button--today:hover {
    cursor: pointer;
    color: #000;
    background: #b1dcfb;
    border-bottom-color: #b1dcfb
}

.picker__button--clear:focus, .picker__button--today:focus {
    background: #b1dcfb;
    border-color: #3b83c0;
    outline: 0
}

.picker__button--clear:before, .picker__button--today:before {
    position: relative;
    display: inline-block;
    height: 0
}

.picker__button--today:before {
    content: " ";
    margin-right: .45em;
    top: -.05em;
    width: 0;
    border-top: .66em solid #0059bc;
    border-left: .66em solid transparent
}

.picker__button--clear:before {
    content: "\D7";
    margin-right: .35em;
    top: -.1em;
    color: #e20;
    vertical-align: top;
    font-size: 1.1em
}