body {
    background-color: #f5f5f5;
    /*font-family: 'Roboto', sans-serif;*/
    padding-top: 60px;
}

footer {
    height: 60px;
    margin-top: 20px;
}

.brand {
    /*font-family: 'Carter One', cursive;*/
}

.title p {
    font-size: 24px;
    line-height: 38px;
}

.ui.vertical.menu .item > i.icon {
    width: 1.18em;
    float: left;
    margin: 0 .5em 0 0;
}

#auth .brand {
    font-size: 2.5rem;
}

#auth .brand a {
    color: #333333;
}

#mapCanvas {
    height: 200px;
    margin-top: 0;
}