{% extends "../layouts/app.html" %}

{% block title%}
<i class="error icon"></i>
{% end %} {{ status_code }}

{% block page %}
<section id="properties">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui fluid negative message">
                    <div class="header">
                        Damn it {{ current_user['profile']['first_name'] }}}!
                    </div>
                    <p>You broke {{ escape(handler.settings['app_name']) }}. Shame on you... Nah, man. Just joking. We
                        noticed the error and will fix it</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}