{% extends "../../layouts/app.html" %}

{% block title%}
<i class="settings icon"></i> Settings
{% end %}

{% block page %}
<section id="properties">
    <div class="ui grid">
        <div class="row">
            <div class="column">
            </div>
        </div>
    </div>
</section>
{% end %}