<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ escape(handler.settings['app_name']) }}</title>
    <link rel="stylesheet" href="{{ static_url('css/semantic.min.css') }}">
    {% block header %}{% end %}
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
</head>
<body>
<div class="ui stackable page grid">
    <div class="two column row">
        <div class="three wide center aligned column">
            <a class="ui fluid large green button" href="/properties/new"><i class="plus icon"></i> New property</a>
        </div>
        <div class="thirteen wide title column">
            <p>{% block title %}{% end %}</p>
        </div>
    </div>
    <div class="two column row">
        <div class="three wide column">
            <div class="ui vertical fluid large menu">
                <a class="item" href="/dashboard"><i class="dashboard icon"></i> Dashboard</a>
                <a class="item" href="/properties"><i class="building icon"></i> Properties</a>
                <a class="item" href="/leads"><i class="inbox icon"></i> Leads</a>
                <a class="item" href="/reports"><i class="bar chart icon"></i> Reports</a>
                <a class="item" href="/billing"><i class="credit card icon"></i> Billing</a>
                <a class="item" href="/settings"><i class="settings icon"></i> Settings</a>
            </div>
            <a class="ui fluid large basic button" href="/user/signout"><i class="power off icon"></i> Sign Out</a>
        </div>
        <div class="thirteen wide column">
            {% block page %}{% end %}
        </div>
    </div>
</div>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/semantic.min.js') }}"></script>
{% block footer %}{% end %}
<script src="{{ static_url('js/app.js') }}"></script>
</body>
</html>