{% extends "layout.html" %}

{% block page %}
<div class="center aligned column row">
    <div class="left aligned five wide column">
        <form class="ui form" action="{{ request.uri }}" method="post" role="form" id="signin_form">
            {% module FlashModule() %}
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="mail icon"></i>
                    <input type="email" name="email" id="email" placeholder="Enter your email"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" id="password" placeholder="Enter your password"/>
                </div>
            </div>
            <button class="huge ui fluid blue button" type="submit">Sign In</button>
        </form>
    </div>
</div>
<div class="ui horizontal link list">
    <a class="item" href="/user/signup">Sign Up</a>
    <a class="item" href="/user/forgot">Forgot password?</a>
</div>
{% end %}