{% extends "layout.html" %}

{% block page %}
<div class="center aligned column row">
    <div class="left aligned six wide column">
        <form class="ui form" action="{{ request.uri }}" method="post" role="form" id="signup_form">
            {% module FlashModule() %}
            <div class="two fields">
                <div class="field">
                    <div class="ui huge input">
                        <input type="text" name="first_name" id="first_name" placeholder="First name"/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui huge input">
                        <input type="text" name="last_name" id="last_name" placeholder="Last name"/>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="call icon"></i>
                    <input class="form-control input-lg" type="tel" autocomplete="off" name="phone" id="phone"
                           placeholder="Enter your phone number"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="mail icon"></i>
                    <input class="form-control input-lg" type="email" autocomplete="off" name="email" id="email"
                           placeholder="Enter your email"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon huge input">
                    <i class="lock icon"></i>
                    <input class="form-control input-lg" type="password" name="password" id="password"
                           placeholder="Enter your password"/>
                </div>
            </div>
            <button class="ui huge fluid green button" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<div class="ui horizontal link list">
    <a class="blue item" href="/user/signin">Already signed up?</a>
</div>
{% end %}