{% extends "../../layouts/app.html" %}

{% block title%}
<i class="dashboard icon"></i> Dashboard
{% end %}

{% block page %}
<section id="dashboard">
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui grid">
                    <div class="row">
                        <div class="four wide column">
                            <div class="ui yellow center aligned segment">
                                <div class="ui statistic">
                                    <div class="value">0</div>
                                    <div class="label">Flyers</div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui blue center aligned segment">
                                <div class="ui statistic">
                                    <div class="value">0</div>
                                    <div class="label">Properties</div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui red center aligned segment">
                                <div class="ui statistic">
                                    <div class="value">0</div>
                                    <div class="label">Tasks</div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui green center aligned segment">
                                <div class="ui statistic">
                                    <div class="value">0</div>
                                    <div class="label">Leads</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% end %}